aside {
  position: relative;
  max-width: 137px;
  width: 100%;
  background: #5a61ed;
}
aside p {
  position: absolute;
  right: -45px;
  bottom: 70px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #ffffff;
  transform: rotate(-90deg);
  white-space: nowrap;
}
