@media only screen and (max-width: 700px) {
  main {
    max-width: 550px !important;
  }
  article header {
    max-width: 300px;
    margin: auto;
  }
  article .form {
    display: block !important;
    max-width: 300px;
    min-width: 234px;
    width: 100%;
    padding-bottom: 50px;
    margin: auto;
  }
  .input-field,
  .gender {
    margin-bottom: 20px;
  }
  .login-signup {
    flex-direction: column;
  }
  .login {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  main {
    flex-direction: column;
  }
  aside {
    max-width: 400px;
    height: 60px;
  }
  aside p {
    position: static;
    transform: rotate(0);
    text-align: center;
    font-size: 30px;
  }
}
