.gender label {
  position: relative; /* to contain absolute elements */
  padding-left: 18px; /* free space for custom radio button */
  cursor: pointer;
  margin-right: 15px;
}
/* hide default radio button  */
label input[type="radio"] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hiding */
  opacity: 0;
  width: 0;
  height: 0;
}
/* custom radio button */
label span {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #5a61ed;
  background-color: #fff;
  border-radius: 50%;
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5a61ed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
label:hover span {
  background-color: #eee;
}
label input:checked ~ span:after {
  display: block;
}
